.explore__arrange-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin-top: 25px;
    margin-bottom: 25px;
    color:white;
}

.arrange-bar__filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrange-bar__filter .filter__title{
    
    margin-right: 10px;
}
.arrange-bar__filter .filter__search-box{
    padding:5px 7px;
    background-color:#424243 ;
    border-radius: 5px;
    color: #909090;
    font-size: 16px;
}

.filter__search-box .search-tag {
    background-color: #424243;
    border: none;
}

.filter__search-box .search-tag::placeholder {
    outline: none;
    color:#b9b9b9;
    font-size: 12px;
}

.arrange-bar__arrange{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.arrange-bar__arrange .arrange_dropdown-btn{
    display: flex;
    align-items: center;
    margin-left: 7px;
    padding:10px 13px;
    background-color: #424243;
    border-radius: 5px;
}
.arrange_dropdown-btn .btn-title{
    margin-right: 10px;
}